# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Sensitive data
.env

# Database
database/*.db
database/*.sqlite

# Logs
logs/
*.log

# Project specific
*.xlsx
.vscode/
.idea/
config.json
